@page
@model Sejlklub23.Pages.Boats.CreateBoatModel
@{
    ViewData["Title"] = "Create boat";
}
<h1>Create Boat</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Boat.Name" class="control-label"></label>
        <input asp-for="@Model.Boat.Name" class="form-control" />
        <span asp-validation-for="Boat.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Boat.Model" class="control-label"></label>
        <input asp-for="@Model.Boat.Model" class="form-control" />
        <span asp-validation-for="Boat.Model" class="text-danger"></span>
    </div>
    <div>
    <input type="submit" value="Create a boat" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>