@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Molle, Stéphane og Gustav</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> test test jubii konflikt</a>.</p>
</div>
